body {
    background-color: papayawhip;
}

nav {
    border: purple 3px solid;
    text-align: center;
}

ul {
    
    padding-left: 0px;
}

li {
    display: inline-block;
    padding: 0px 1em;
}

li:hover{
    cursor: pointer;
}